{
    "TEST": false,
    "ENVIRONMENT": "local", // "production" || "development"
    "MODE": "",
    "USE_SIMULATOR": false,

    "GOOGLE_AI_API_KEY": "",
    "GOOGLE_AI_URL": "",

    "BUGSNAG_ENV": "local", // "production" || "development"
    "BUGSNAG_API_KEY": ""
}